.formbox {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}


.head {
    margin: auto;
    width: 50%;
    font-size: 50px;
}

.bottom {
    margin: auto;
    width: 50%;
    font-size: 50px;
}
.foot {
    margin:auto;
    width: 50%;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}