
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 200px;
  background-color: black ;
  min-width: 200px;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}
.SidebarList .row {
  width: 80%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SidebarList .row:hover {
  cursor: pointer;
  background-color: #385170;
}
.row #icon {
 flex: 30%;
 display:grid;
 place-items: center;
}
.row #title {
  flex: 70%;
 }

 .fadeIn {
  animation: 1s fadeIn forwards;
}

.fadeOut {
  animation: 1s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}